table {
  border-collapse: collapse;
  border-spacing: 0;
}

.gridhero {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: full;
  max-width: 1200px;
  margin: 0 auto;
}

.image,
.grid-content {
  grid-row: 1 / 2;
}

.image {
  grid-column: 2 / -1;
  align-self: center;
  width: 1600px;
}

.grid-content {
  grid-column: 1 / 3;
  width: 400px;
}
